apiVersion: apps/v1
kind: Service
metadata:
  name: fastapi-service
  labels:
    app: fastapi-app
spec:
  type: LoadBalancer
  ports: 
    - port: 8000
      targetPort: 8000
  selector:
    app: fastapi-app